.chatContainer {
    height: 90vh;
    width: 1024px;
    background-color: #FCCB87;
    border-radius: 8px;
    justify-self: center;
}

.navbar {
    height: max-content;
    /* background-color:; */
}