@import "../variables.css";

.parent-container {
 
}

.navbar {
  height: 100vh;
  width: 280px;
  background-color: var(--main-fg-color);
  margin-left: 0px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%; 
    width: 100%; 
}

.main-title {
  margin-left: 20px;
}

.parent-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  position: relative;
}

.chat-title-container {
  display: flex;
  align-items: center ;
  justify-content: center;
  width: 1300px;
  height: 110px;
  margin-bottom: 20px;
  background-color: var(--secondary-fg-color);
  border-radius: 8px;

}

.chat-container {
  height: 725px;
  width: 1300px;
  background-color: var(--secondary-fg-color);
  border-radius: 8px;
  justify-self: center;
  overflow: auto;
  scroll-behavior: smooth;

}

/* Message Bubble */
.message-container {
  max-width: 700px;
  min-width: 400px;
  min-height: 50px;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 4px;
  background-color: var(--main-fg-color);
  border-radius: 25px;
}

.message-container-me {
  max-width: 700px;
  min-width: 400px;
  min-height: 50px;
  margin-left: 538px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 4px;
  background-color: var(--me-message-bubble);
  border-radius: 25px;
}

.text-container {
    margin-left: 20px;
    text-align: left;
}

.contact {
  margin-bottom: 0px;
  color: #795b33;
}

.message {
  margin-top: 0px;
}

/* Message Send */
.form-container {
  display: flex;
  justify-content: center;
}

.send-message {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 20px;
  height: 40px;
  width: 500px !important;
  background-color: var(--main-bg-color);
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 16px;
}

.send-message:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important; 
  background-color: var(--main-bg-color);
}

.send-button {
  height: 40px;
  margin-left: -5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 20px;
  border: none !important;
  border-color: var(--main-bg-color) !important;
  background-color: var(--main-bg-color)!important;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.send-button:hover {
  background-color: var(--main-bg-color)!important;
  box-shadow: none !important; 
}

.send-button:focus {
    background-color: var(--main-bg-color)!important;
    box-shadow: none !important; 
  }

.send-container {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}

.conversation-container {
    /* background-color: #795b33; */
    margin-bottom: 100px;
}