/* Navbar.css */
.navbar {
  width: 200px;
  height: 100vh; /* Set height to full viewport height */
  position: fixed; /* Fix the navbar position */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  background-color: rgb(213, 151, 98); /* Example background color */
  color: #fff; /* Example text color */
}

.navbar h1 {
  margin-bottom: 1rem;
}

.navbar a {
  display: block;
  margin-bottom: 0.5rem;
  color: black;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}
