/* Navbar.css */
.navbarv {
  width: 200px;
  height: 100vh; /* Set height to full viewport height */
  position: fixed; /* Fix the navbar position */
  padding-left: 20px;
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  background-color: var(--main-fg-color); /* Example background color */
  color: #fff; /* Example text color */
  display: flex;
  flex-direction: column;
}

.link {
  gap: 7px;
  padding: 0 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
}

.navbarv h1 {
  margin-bottom: 1rem;
}

.navbarv a {
  display: block;
  margin-bottom: 0.5rem;
  color: black;
  text-decoration: none;
}

.navbarv a:hover,
.navbarv a:focus,
.navbarv a:active,
.navbarv .active-link {
  text-decoration: underline;
  text-decoration-color: #FDE4C1;
  /* color: #FDE4C1; */
}